.login-page {
    background-color: $color4;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        width: 280px;
        padding: 20px;
        border-radius: 10px;

        input {
            display: flex;
            text-align: center;
            align-items: center;
            padding: 7px 15px;
            border-radius: 20px;
            line-height: 20px;

            &:not(:first-child) {
                margin-top: 10px;
            }

            &:not([type=submit]) {
                background-color: rgba(255,255,255,0.2);
                border: 0;
                color: $color1;

                &::placeholder {
                    color: darken($color1, 10);
                }
            }

            &[type=submit] {
                justify-content: center;
                border: none;
                background-color: darken($color4,10);
                color: $color2;
                cursor: pointer;

                &:hover {
                    background-color: darken($color4, 15);
                }
            }
        }

        .input-error-msg {
            display: flex;
            justify-content: center;
            background-color: rgba(200,20,20,0.6);
            padding: 0 10px;
            margin-top:3px;
            color: #fff;
            border-radius: 10px;
        }

        a{
            color: $color1;
            display: flex;
            margin-top: 20px;
            justify-content: center;
            text-decoration: none;

            &:hover {
                color: $color2;
            }
        }
    }
}
