*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
    display: flex;
	font: 14px 'Roboto', 'Raleway', sans-serif;
	background-color: $bgBody;
	color: $textColor;
	-webkit-font-smoothign: antialiased !important;
}

ul {
	list-style: none;
}


// FORM
input {
    font-size: 14px;
}

.form-disabled {
    border: none;
}
