@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700|Roboto:100,300,400,500,600,700&display=swap);* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  font: 14px "Roboto", "Raleway", sans-serif;
  background-color: #fff;
  color: #ddd;
  -webkit-font-smoothign: antialiased !important;
}

ul {
  list-style: none;
}

input {
  font-size: 14px;
}

.form-disabled {
  border: none;
}

.login-page {
  background-color: #3622EB;
  justify-content: center;
  align-items: center;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
}

.login-page form input {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 7px 15px;
  border-radius: 20px;
  line-height: 20px;
}

.login-page form input:not(:first-child) {
  margin-top: 10px;
}

.login-page form input:not([type=submit]) {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  color: #ddd;
}

.login-page form input:not([type=submit])::-webkit-input-placeholder {
  color: #c4c4c4;
}

.login-page form input:not([type=submit])::-moz-placeholder {
  color: #c4c4c4;
}

.login-page form input:not([type=submit]):-ms-input-placeholder {
  color: #c4c4c4;
}

.login-page form input:not([type=submit])::-ms-input-placeholder {
  color: #c4c4c4;
}

.login-page form input:not([type=submit])::placeholder {
  color: #c4c4c4;
}

.login-page form input[type=submit] {
  justify-content: center;
  border: none;
  background-color: #2412c8;
  color: #fff;
  cursor: pointer;
}

.login-page form input[type=submit]:hover {
  background-color: #2010b1;
}

.login-page form .input-error-msg {
  display: flex;
  justify-content: center;
  background-color: rgba(200, 20, 20, 0.6);
  padding: 0 10px;
  margin-top: 3px;
  color: #fff;
  border-radius: 10px;
}

.login-page form a {
  color: #ddd;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-decoration: none;
}

.login-page form a:hover {
  color: #fff;
}

